<h1>Customers</h1>

    <h3 id="h3_cust">Add new customer</h3>
    <form id="top_cust">
    	Name:<input type="text" ng-model="newCustomer.customer_name"></input>
    	<button type="submit" ng-click="addCustomer()">Add</button>
    </form>


<input id="search_bar" type="text" ng-model="filter_customers" placeholder="Search"></input>
<table id="cust_table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="customer in customers | orderBy: 'customer_name' | filter: filter_customers">
            <td>{{ customer.customer_name }}</td> 
            <td><button type="submit">Delete</button></td> 
        </tr>           
    </tbody>
</table>